@font-face {
  font-family: picnic_regular;
  src: url(fonts/PicNic_Regular.otf);
}

@font-face {
  font-family: pptelegraf_regular;
  src: url(fonts/PPTelegraf_Regular.otf);
}

* {
	box-sizing: border-box;
}

.picnic {
	font-family: picnic_regular;
}
.pptelegraf {
	font-family: pptelegraf_regular;
}

ul, li {
	list-style: none;
	font-family: picnic_regular;
	font-size: 36;
}

a {
	color: white;
	text-decoration: none;
}

#navbar {
	position: fixed;
	visibility: hidden;
	z-index: 9;
}	

.decoration, #title {
	font-family: picnic_regular;
	font-size: 48;
	display: block;
}

.decoration {
	position: fixed;
	z-index: 9;
}

.back-to-top {
	bottom: 20px;
}

.navbar-mobile-icon {
	top: 20px;
}

body {
	background-color: black;
	color: white;
}

.decoration {
}

#title {
	text-align: center;
}

.container {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.full-width-container {
	padding: 100px 30px;
	width: 90%;
	margin: 0 auto;
}

.image-stack {
	display: grid;
	position: relative;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 2fr, 2fr, 2fr;
}

.image-stack__item-1 {
	grid-row: 1;
	grid-column: 2 / span 5;
	z-index: 1;
}

.image-stack__item-2 {
	grid-column: 8 / span 5;
	grid-row: 1;
	z-index: 4;
}

.image-stack__item-3 {
	grid-column: 3 / span 8;
	grid-row: 1;
	padding-top: 90%;
	z-index: 2;
}

.image-stack__item-basic > img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.image-stack__item > img {
	width: 100%;
	display: block;
	transition: transform .2s;
	object-fit: cover;
}

#contacts {
	position: relative;
}

.fullscreen-text {
	position: absolute;
	text-align: center;
	font-size: min(5vw, 40px);
	width: 100%;
	top: 100px;
	container-type: inline-size;
	container-name: fullscreen-text-container;
}

.image-halfscreen {
	text-align: right;
}

.image-halfscreen > img {
	width: 50%;
	height: 600px;
	object-fit: cover;
}

.image-stack__item-regular-tl {
	grid-row: 1;
	grid-column: 1 / span 4;
}

.image-stack__item-regular-t {
	grid-row: 1;
	grid-column: 5 / span 4;
}

.image-stack__item-regular-tr {
	grid-row: 1;
	grid-column: 9 / span 4;
}

.image-stack__item-regular-cl {
	grid-row: 2;
	grid-column: 1 / span 4;
}

.image-stack__item-regular-c {
	grid-row: 2;
	grid-column: 5 / span 4;
}

.image-stack__item-regular-cr {
	grid-row: 2;
	grid-column: 9 / span 4;
}

.image-stack__item-regular-bl {
	grid-row: 3;
	grid-column: 1 / span 4;
}

.image-stack__item-regular-b {
	grid-row: 3;
	grid-column: 5 / span 4;
}

.image-stack__item-regular-br {
	grid-row: 3;
	grid-column: 9 / span 4;
}

@media screen and (min-width: 1201px) {
	.image-stack__item > img:hover {
		transform: scale(1.2);
	}
}

@media screen and (max-width: 1200px) {
	.image-stack__item {
		display: inline-block;
		width: 49%;
	}
	.image-stack__item-3 {
		padding-top: 0%;
	}
	.full-width-container {
		width: 100%;
		padding: 100px 10px;
	}
	.image-stack {
		display: block;
	}
	.fullscreen-text {
		width: 100%;
		display: block;
		position: relative;
		top: 0px;
	}
	.image-halfscreen > img {
		width: 100%;
		display: block;
	}
}
